$width: 105px;
body{
  background-color: #a9c4d9;
  .bg {
      width: 350px;
      height: 350px;
      position: relative;
      top:100px ;
      // left: $width * 0.47;
      left: 0;
      right: 0;
      margin: auto;
      background-image: url(./chunsikbg.png.png);
      background-size: cover;
    .head {
      animation: heading 2s infinite ease-in-out;
      position: absolute;
      top: 34.5%;
      left: -6px;
      right: 0;
      margin: 0 auto;
      background-color: #fed677;
      border: solid;
      width: $width;
      height: $width * ( 5/ 6);
      border-radius: 45% / 55% ;
      &:hover {
        animation-play-state: paused;
      }
      .ears {
        position: relative;
        top: $width* -0.083;
        .ear {
          position: absolute;
          background-color: #fed677;
          width: $width* 0.1975;
          height: $width* 0.08;
          border-radius: 50% 50% 0 0 / 70% 70% 0 0;
          top: $width * 0.05;
          border: solid;
          border-bottom: none;
        }
        .left-ear {
          left: $width* 0.125;
          transform: rotate(-25deg);
        }
        .right-ear {
          left:$width* 0.67;
          transform: rotate(25deg);
        }
      }

      .eyes {
        position: relative;
        top: $width* 0.229;
        .eye{
          position: absolute;
          background-color: black;
          width: $width* 0.083;
          height: $width* 0.083;
          border-radius: 50%;
          animation: Moveeyes 7s infinite ;
        }
        .left-eye{
          left: $width* 0.3125;
        }
        .right-eye{
          left: $width* 0.6041;
        }
      }

      .noses {
        position: relative;
        top:$width* 0.3541;
        .nose{
          position: absolute;
            background-color: white;
            width: $width* 0.1666;
            height: $width* 0.1458;
            z-index: 3;
        }
        .nose1{
          left: $width* 0.3541;
          border-radius: 50% 0 50% 50%;
        }
        .nose2{
          left: $width* 0.4791;
          border-radius: 0 50% 50% 50%;
        }

        .mustache {
          position: relative;
          z-index: 2;
          li {
            position: absolute;
            width: $width* 0.052;
            height: 0px;
            border: solid $width* 0.0125 black;
            &:nth-child(1){
              transform: rotate(10deg);
              left: $width* 0.2812;
              top: $width* 0.0312;
              border-radius: 30% / 5px 2px 2px 5px;
            }
            &:nth-child(2){
              transform: rotate(-10deg);
              top: $width* 0.0312;
              left: $width* 0.6416;
              border-radius: 30% / 2px 5px 5px 2px;
            }
            &:nth-child(3){
              transform: rotate(-10deg);
              top: $width* 0.0937;
              left: $width* 0.2812;
              border-radius: 30% / 5px 2px 2px 5px;
            }
            &:nth-child(4){
              transform: rotate(20deg);
              top: $width* 0.0937;
              left: $width* 0.6416;
              border-radius: 30% / 2px 5px 5px 2px;
            }
          }
        }

        .cheeks {
          position: relative;
          top: $width* -0.0208;
          .cheek{
            position: absolute;
            background-color: #ff9d7e;
            width: $width *0.2083;
            height: $width* 0.2083;
            border-radius: 50%;
            z-index: 1;
          }
          .left-cheek{
            left: $width* 0.1458;
          }
          .right-cheek{
            left: $width* 0.6458;
          }
        }

        .tongue {
          position: relative;
          width: $width* 0.1041;
          height: $width* 0.1145;
          background-color: #ed8d7c;
          top: $width* 0.1041;
          left: $width* 0.4479;
          z-index: 1;
          border-radius: 0 0 80% 80%;
          animation: Movetongue 2.5s infinite;
        }
      }
    }
  }
}

@keyframes heading {
  0%, 100% {
    transform: rotate(-5deg)
  }
  50%{transform:rotate(5deg)}
}

@keyframes Movetongue {
  50%{transform: translateY(-8px)}
}

@keyframes Moveeyes {
  28%{height: $width* 0.083; transform: translateY(0);}
  30%{height: 4px; transform: translateY(($width* 0.083) / 2);}
  33%{height: $width* 0.083; transform: translateY(0);}
  67%{height: $width* 0.083; transform: translateY(0);}
  70%{height: 4px; transform: translateY(($width* 0.083) / 2);}
  73%{height: $width* 0.083; transform: translateY(0);}
}